$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=cyrillic,latin");
@import 'variables';

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'components/loading_bar';
@import 'components/alerts';
@import 'components/angular-float-labels';
@import 'layouts/auth';
@import 'layouts/campaign';
@import 'layouts/user_nav';

.navbar-adrot {
  border-radius: 0;
  border: none;
  .navbar-brand {
    font-weight: 700;
    color: $navbar-inverse-brand-hover-color;
  }
}

span.ad {
  display: inline-block;
  color: $brand-danger;
  transform: rotate(10deg);
  padding-right: 0,0625em;
  transition: transform .5s;
  &.loading {
    animation: adRotate 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes adRotate {
    100% {transform: rotate(370deg);}
}

h1::first-letter {
  font-size: 120%;
  color: $brand-danger;
}

.content {
  min-height: 500px;
  max-width: 1024px;
}

.tab-content {
  border-left: 1px solid $nav-tabs-border-color;
  border-right: 1px solid $nav-tabs-border-color;
  border-bottom: 1px solid $nav-tabs-border-color;
  padding: $padding-base-vertical $padding-base-horizontal;
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
  transition: height .25s ease;
  margin-bottom: 1em;
}

.modal-content {
  border: none;
}

footer {
  margin-top: 2em;
}
