/###meta###
%title Как сделать редирект?
%meta{name: 'description', content: 'RedirectMe.ru - вся правда о редиректах. Если у вас есть какие либо вопросы по редиректам, то здесь вы найдёте ответы на них'}
%meta{name: 'keywords', content: 'редирект перенаправление форвардинг URL'}
/###end###

/###content###
%h1 Как сделать редирект?
%p
  Наверняка вы задались этим вопросом и мы поможем вам в этом.
  Eсли вы только познаёте мир @@WEB разработки, соыетуем прочитать текст ниже, он поможет вам понять что же такое редирект и как он работает.
  Если вы уже опытный @@WEB мастер, то воспользуйтесь навигацией, для перехода к интересующему вас разделу.
  Если ваш вопрос касается редаректов и вы не смогли найти ответа на него на нашем сайте, то обязательно напишите нам,
  даже если вы уже нашли ответ в другом месте, этим вы поможете нам сделать сайт ещё более полезным.

%h2 Что такое редирект?
%p
  Редирект (от английского redirection - перенаправление, так же известен как перенаправление @@URL или форвардинг @@URL) -
  это техника, позволяющая сделать доступной одну страницу по нескольким адресам @@URL.

%h2#how-it-work Как работает редирект?
%p
  Понять что такое редирект легче всего на примере.
  В примере мы используем редирект с задержкой для того чтобы работа редиректа была более наглядна,
  в реальной же жизни чаще всего используются редиректы без задержек.
  И так, нажав на красную кнопку
  %a.btn.btn-danger.example-button{href: '/redirect-example.html'} !
  вы попадёте на страницу с настроенным редиректом, после чего будете перенаправлены обратно на эту страницу.

/###end###
