/###meta###
%title Как сделать редирект?
%meta{ name: 'description', content: 'RedirectMe.ru - вся правда о редиректах. Если у вас есть какие либо вопросы по редиректам, то здесь вы найдёте ответы на них'}
%meta{ name: 'keywords', content: 'редирект перенаправление форвардинг URL' }
/###end###

/###content###
%h1 Как сделать редирект?
%p
  Eсли вы только познаёте мир @@WEB разработки, советуем прочитать текст ниже, он поможет вам понять что же такое редирект и как он работает.
  Если вы опытный @@WEB мастер, то можете смело переходить к интересующему вас разделу.
  Если ваш вопрос касается редиректов, и вы не смогли найти ответа на него на нашем сайте, то обязательно
  %a{href: 'mailto:support@redirectme.ru'}напишите нам
  (даже если вы уже нашли ответ в другом месте) — этим вы поможете нам сделать сайт ещё более полезным.

Содержание:
%ul
  %li
    %a{href: '##what-is-it'}
      Что такое редирект?
  %li
    %a{href: '##how-it-work'}
      Как работает редирект?
  %li
    %a{href: '##why-use'}
      Для чего применяется редирект?
    %ul
      %li
        %a{href: '##domain-redirect'}
          По разным доменам должен быть доступен один сайт
      %li
        %a{href: '##struct-redirect'}
          Изменение структуры сайта
      %li
        %a{href: '##hide-url-redirect'}
          Сокрытие конечного URL до перехода на него
      %li
        %a{href: '##track-lead-redirect'}
          Необходимость отследить факт перехода пользователя
      %li
        %a{href: '##ab-test-redirect'}
          А/Б тестирование страниц сайта
      %li
        %a{href: '##mobile-redirect'}
          Редирект на мобильную версию сайта
      %li
        %a{href: '##geo-redirect'}
          Редирект на региональную версию сайта
      %li
        %a{href: '##tsl-redirect'}
          Редирект на защищенный протокол

%h2#what-is-it Что такое редирект?
%p
  <strong>Редирект</strong> (от английского redirection - перенаправление, также известен как перенаправление @@URL или форвардинг @@URL) -
  это техника, позволяющая сделать <strong>доступной одну страницу по нескольким адресам @@URL</strong>.
  Ниже представлена иллюстрация трёх страниц, на двух из которых настроен редирект на третью.

.animation-redirect{ animation: true, 'animation-duration': 15000 }
  .user :)
  %div{ point: true }
  .request-url1 Запрос на URL1
  .request-url2 Запрос на URL2
  .request-url Запрос на URL без редиректа
  .redirect-url1 Редирект с URL1 на URL
  .redirect-url2 Редирект с URL2 на URL
  .response-url Ответ - страница по адресу URL
  .browser--url1{ browser: 'URL1' }
  .browser--url{ browser: 'URL' }
  .browser--url2{ browser: 'URL2' }

%h2#how-it-work Как работает редирект?
%p
  Понять как работает редирект <strong>легче всего на примере</strong>.
  В примере мы используем редирект с задержкой для того чтобы работа редиректа была более наглядна.
  В реальной же жизни чаще всего используются редиректы без задержек.
  Итак, <strong>нажав на красную кнопку</strong>
  %a.btn.btn-danger.example-button{ href: '/redirect-example.html' }
    \!
  , вы попадёте на страницу с настроенным редиректом, после чего будете перенаправлены обратно на эту страницу.

%h2#why-use Для чего применяется редирект?
%h3#domain-redirect По разным доменам должен быть доступен один сайт
.redirect-visual{ 'redirect-visual-origin': 'http://www.redirectme.ru',
                  'redirect-visual-destination': 'http://redirectme.ru'}
%p
  Наиболее популярный вид редиректа. Он используется практически на любом домене для того, чтобы
  пользователь попадал на “основное зеркало”. При регистрации домена, например “redirectme.ru”, принято создавать
  как домен второго уровня <strong>“redirectme.ru”</strong>, так и его поддомен третьего
  уровня <strong>“www.redirectme.ru”</strong>. После этого владелец домена <strong>выбирает один из них и ставит
  редирект со всех страниц второго домена на него</strong>.
%p
  Также редиректы делают с доменов, названия которых похожи на название целевого (разные варианты написания, наиболее
  возможные опечатки). Ну и при покупке нового, более хорошего домена ставят редирект со старого домена, чтобы не
  потерять пользователей, которые заходят на сайт напрямую из закладок или набирая название в адресной строке.

%h3#struct-redirect Изменение структуры сайта
.redirect-visual{ 'redirect-visual-origin': 'http://redirectme.ru/2/120',
                  'redirect-visual-destination': 'redirectme.ru/news/redirekt-spas-cheloveka-ot-nervnogo-sriva'}
%p
  Достаточно часто появляется необходимость <strong>поменять структуру сайта</strong>. Как правило она
  обуславливается желанием <strong>сделать адрес страницы более понятным для пользователя</strong> или желанием
  оптимизировать структуру сайта под поисковые машины (разделение материалов по категориям или выполнение других
  рекомендаций поисковиков)

%h3#hide-url-redirect Скрытие конечного URL до перехода на него
.redirect-visual{ 'redirect-visual-origin': 'http://redirectme.ru/good-news',
                  'redirect-visual-destination': 'http://redirectme.ru/zarabotai-100000-za-odin-den?marker=ad12ad23e19asdoh'}
%p
  Иногда надо <strong>скрыть от пользователя адрес страницы на которую он перейдёт</strong> нажав на ссылку. Чаще всего это делается
  чтобы скрыть какие-то партнёрские маркеры, тем самым повышается доверие к ссылке, или чтобы из длинной ссылки
  сделать короткую — к примеру чтобы поделиться с другим человеком в чате.

%h3#track-lead-redirect Необходимость отследить факт перехода пользователя
.redirect-visual{ 'redirect-visual-origin': 'http://redirectme.ru/go?url=http://google.ru',
                  'redirect-visual-destination': 'http://google.ru'}
%p
  Одним из способов отследить переход пользователя является вставка <strong>промежуточной страницы с редиректом</strong>
  на целевую страницу. На этой промежуточной странице будет записываться факт перехода. И это, наверное,
  самый надёжный способ отследить факт перехода, цена же этой надёжности - лишний редирект.   

%h3#ab-test-redirect А/Б тестирование страниц сайта
.redirect-visual{ 'redirect-visual-origin': 'http://redirectme.ru/go?url=http://google.ru',
                  'redirect-visual-destination': 'http://google.ru'}
%p
  Существует несколько способов сделать <strong>a/b тестирование страниц сайта</strong>. Несколько из них реализуется с
  помощью редиректа. Самый простой и имеющий ряд недостатков способ осуществить a/b тест: на целевой странице,
  допустим redirectme.ru/test.html, сделать редирект, который <strong>с равной вероятностью будет перенаправлять
  пользователя либо на redirectme.ru/a-test.html, либо redirectme.ru/b-test.html</strong> . Таким образом, пользователь
  будет перенаправлен с целевой страницы на одну из тестируемых с равной вероятностью. Далее, сравнив показатели этих
  страниц, мы поймём какая из них лучше работает и заменим на нее страницу с редиректом. 

%h3#mobile-redirect Редирект на мобильную версию сайта
.redirect-visual{ 'redirect-visual-origin': 'http://redirectme.ru/',
                  'redirect-visual-destination': 'http://m.redirectme.ru/'}
%p
  Если у сайта есть мобильная версия, то если пользователь заходит <strong>на полноценную версию сайта с мобильного
  устройства</strong>, то его перенаправляют на мобильную версию. Это делается в связи с тем, что версия сайта для компьютера
  зачастую работает некорректно на мобильных устройствах и, чтобы удержать мобильных пользователей, владельцы сайтов
  делают специальную мобильную версию. Сейчас границы между мобильными устройствами и персональными компьютерами
  постепенно стираются, поэтому такое применение редиректа в скором времени скорее всего станет частью истории.

%h3#geo-redirect Редирект на региональную версию сайта
.redirect-visual{ 'redirect-visual-origin': 'http://redirectme.com/',
                  'redirect-visual-destination': 'http://redirectme.ru/'}
%p
  При заходе на сайт анализируются ваши геолокационные данные и на их основе вы перенаправляетеь <strong>на сайт того
  региона, где вы находитесь</strong>. Такое применение редиректа находят полезным для себя большие компании, у которых есть
  сайты для пользователей из разных стран.

%h3#tsl-redirect Редирект на защищенный протокол
.redirect-visual{ 'redirect-visual-origin': 'http://redirectme.ru/',
                  'redirect-visual-destination': 'https://redirectme.ru/'}
%p
  В последнее время становится все более популярным использование <strong>защищенного протокола https</strong> даже
  на сайтах, не испротзующих данные пользователей, которые надо защитить. В связи с этим все чаще используют редирект с
  протокола http на протокол https. Этот вид редиректа реализуется практически так же,   как и редирект с домена на домен.

/###end###
