/###meta###
%title Страница с примером редиректа
%meta{name: 'description', content: 'RedirectMe.ru - вся правда о редиректах. Страница с примером редиректа. На долго вы на ней не задержитесь'}
%meta{name: 'keywords', content: 'редирект перенаправление форвардинг URL'}
%meta{'http-equiv': "refresh", content: "3;/#how-it-work?alert-success[]=Добро пожаловать назад!&alert-success[]=Теперь вы знаете что такое редирект!"}
/###end###

/###header###
/###end###
/###footer###
/###end###

/###content###
.center-block
  %h1 Сейчас произойдёт редирект!
  %p
    Если редирект по не произошел, то для того чтобы воспользуйтесь
    %a{href: '/#how-it-work?alert-danger[]=Произошла ошибка и вас не перенаправило :( Можете попробовать ещё раз'}ссылкой
/###end###
