.auth-container {
  text-align: center;
  h1 {
    margin: 6px auto;
  }
}
.auth-form {
  margin: 0 auto 0;
  input.form-control.input-lg {
    border-top-left-radius: $border-radius-large !important;
    border-bottom-left-radius: $border-radius-large !important;
  }

  button {
    padding: 11px 16px 10px 16px;
  }
}

.adrot-animation {
  margin-left: 20px;
}
