.campaign-selectors__item,
.advertisement
.banner {
  position: relative;
  overflow: visible;
  z-index: 2;
  &:last-child {
    z-index: 1;
  }
}

.campaign-id-wrapper {
  label {
    font-weight: normal;
  }

  select {
    display: block;
  }
}

.campaign {
  h1 {
    small {
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.animated-division {

}

.animated-division.ng-move,
.animated-division.ng-enter,
.animated-division.ng-leave {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.animated-division.ng-leave.ng-leave-active,
.animated-division.ng-move,
.animated-division.ng-enter {
  opacity:.5;
  max-height: 0;
}

.animated-division.ng-leave,
.animated-division.ng-move.ng-move-active,
.animated-division.ng-enter.ng-enter-active {
  opacity:1;
  top: 0;
  max-height: inherit;
}

.campaign-selectors__item.ng-leave.ng-leave-active,
.campaign-selectors__item.ng-move,
.campaign-selectors__item.ng-enter {
  top: -49px;
}

.advertisement.ng-leave.ng-leave-active,
.advertisement.ng-move,
.advertisement.ng-enter,
.banner.ng-leave.ng-leave-active,
.banner.ng-move,
.banner.ng-enter {
  top: -92px;
}

.sticky-form {
  .form-group {
    margin-bottom: -1px;
    input, textarea {
      border-radius: 0;
    }

    &:first-child {
      input, textarea {
        border-top-right-radius: $border-radius-base;
        border-top-left-radius: $border-radius-base;
      }
    }

    &:last-child {
      margin-bottom: 15px;

      input, textarea {
        border-bottom-right-radius: $border-radius-base;
        border-bottom-left-radius: $border-radius-base;
      }
    }
  }
}
