#user-nav {
  a {
    &.yandex-direct-link {
      // position: relative;
      // top: -4px;
      color: $brand-danger;
      text-decoration: underline;

      &:before {
        @extend .glyphicon;
        @extend .glyphicon-remove;

        top: 2px;
        left: -2px;
      }

      &.yandex-direct-link--authorized {
        color: $brand-success;
        text-decoration: none;
        &:before {
          @extend .glyphicon-ok;
        }
      }
    }
    cursor: pointer;
  }
  .direct-auth-container {
    padding: 8px 0;
  }
  .direct-auth-login-container {
    display: inline-block;
    width: 300px;
    margin-right: 15px;
  }
}
