%section.auth-container{"ng-if": "authorization.authorized == false"}
  %h1 Создай рекламную компанию вместе с <span class="ad">AD</span>ROT'ом!
  %form.form-inline.auth-form
    .input-group
      %input.form-control.input-lg{ "type": "text",
                                    "placeholder": "Введите свой ключ",
                                    "ng-model": "key",
                                    "autofocus": true,
                                    "id": "auth-key",
                                    "label": "Ключ"}
      .input-group-btn
        %button.btn.btn-success.btn-lg{"ng-click": "authorization.auth(key)"}
          %i.glyphicon.glyphicon-user
          Вход
