%ul.nav.navbar-nav.navbar-right#user-nav{"ng-if": "authorization.authorized"}
  %li
    %yandex-direct
  %li
    %p.navbar-text
      Вы авторизованы как {{ authorization.user }}.
  %li
    %a{"ng-click": "authorization.log_out()"} Выход
