-# .direct-auth-container
-#   .direct-auth-login-container
-#     %input.form-control{ type: 'text', 'ng-model': 'directAccount',
-#       id: 'direct_login',
-#       placeholder: 'Учётная запись Yandex.direct (login)',
-#       "data-label": 'Учётная запись Yandex.direct (login)',
-#       'ng-model': 'directLogin' }
%a.yandex-direct-link{ target: 'direct_oauth', 'ng-class': '{"yandex-direct-link--authorized": yandexDirectAuth}', 'ng-href': '{{ yandexDirectAuth ? \'\' : \'https://oauth.yandex.ru/authorize?response_type=code&client_id=e4a93cac38ca482bb89a66f1505b28de\'}}', 'ng-click': 'checkCokie(true)' }
  %span{'ng-if': '!yandexDirectAuth'} Авторизоваться в
  Яндекс.Директ
