/###meta###
%title ADROT.RU
%meta{name: 'description', content: 'Создай свою рекламную кампанию вместе с ADROT.RU'}
%meta{name: 'keywords', content: 'Direct Директ кампания объявление'}
/###end###

/###content###
.content{"ng-view": true}
/###end###
