.animation {
  position: relative;
}

.animation-controls {
  background-color: #000;
  height: 30px;
  position: absolute;
  left: -30px;
  top: 0;
  width: 30px;
}

.animation-controls-play {
  cursor: pointer;
  height: 20px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  visibility: visible;
  width: 20px;
  .animation-controls-play-first {
    background-color: #fff;
    content: ' ';
    height: 100%;
    left: -13px;
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
  }
  .animation-controls-play-second {
    background-color: #fff;
    content: ' ';
    height: 100%;
    position: absolute;
    right: 133%;
    width: 40%;
  }
}

.animation--initialization {
  .animation-controls-play {
    visibility: hidden;
  }
}

.animation-controls-play--playing {
  animation: play-pause 500ms;
  animation-fill-mode: forwards;
  .animation-controls-play-first {
    animation: play-pause-before 500ms;
    animation-fill-mode: forwards;
  }
  .animation-controls-play-second {
    animation: play-pause-after 500ms;
    animation-fill-mode: forwards;
  }
}

.animation-controls-play--paused {
  animation: play-pause 500ms reverse;
  .animation-controls-play-first {
    animation: play-pause-before 500ms reverse;
  }
  .animation-controls-play-second {
    animation: play-pause-after 500ms reverse;
  }
}

.animation-controls-play--paused-remove,
.animation-controls-play--playing-remove {
  animation: none;
  .animation-controls-play-first,
  .animation-controls-play-second {
    animation: none;
  }
}

.animation-controls-play--playing-remove {
  left: 5px;
  .animation-controls-play-first {
    left: 0;
    transform: rotate(0deg);
    width: 40%;
  }
  .animation-controls-play-second {
    right: 0;
  }
}

.animation--paused *,
.animation--initialization * {
  animation-play-state: paused !important;
}

.animation--cleared * {
  animation: none !important;
}

@keyframes play-pause {
  25%,
  100% {
    left: 5px;
  }
}


@keyframes play-pause-before {
  75%,
  100% {
    left: 0;
    transform: rotate(0deg);
    width: 40%;
  }
}


@keyframes play-pause-after {
  75%,
  100% {
    right: 0;
  }
}
