.browser {
  position: relative;
  width: 10em;
  height: 8em;
  background-color: #000;
  color: #000;
  border-radius: 0.3em;

  &:before {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 5em;
    height: 0.5em;
    border-radius: 0.2em;
    background: #FFF;
    content: ' ';
  }

  &:after {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background: #FFF;
    content: ' ';
  }
}

.browser-viewport {
  position: absolute;
  top: 1.5em;
  right: 0.5em;
  left: 0.5em;
  bottom: 0.5em;
  background: #FFF;
  span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -0.5em;
    text-align: center;
    font-size: 1.5em;
    line-height: 100%;
    font-weight: 700;
  }
}
