$icon-font-path: '../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
@import 'variables';
@import 'bootswatch';

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-weight: 300;
}
ul ul {
  padding-left: 1em;
}

@import 'components/navigation';
@import 'components/alerts';
@import 'components/browser';
@import 'components/point';
@import 'components/animation';
@import 'components/redirect_visual';
@import 'layouts/index';
