%div{animation: true, 'animation-duration': 2500}
  %span.redirect-visual-origin{'ng-bind': 'origin'}
  %span.redirect-visual-arrow
    %i.glyphicon.glyphicon-arrow-right
  %span.redirect-visual-destination{'ng-bind': 'destination'}
